/*Main information*/

.main_information {
    width: 100%;

    margin: 30px auto;

    padding: 15px;

    background-color: white;
    
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_image {
    width: 50%;
    
    margin: 30px auto;

    text-align: center;
    font-size: 17px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    color: rgba(0, 0, 0, 0.7);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.main_image a {
    text-decoration: none;
    color:  rgba(0, 230, 255, 1);
}

.main_image img {
    width: 90%;
    height: auto;

    margin-bottom: 10px;
}

.main_title {
    width: 95%;

    margin: 20px auto;

    font-size: 30px;
}

.main_paragraph {
    width: 95%;

    margin: 10px auto;

    font-size: 20px;
    line-height: 100%;

    font-family: 'Times New Roman', Times, serif;
}

/*Introductory card*/

.introductory_card {
    width: 95%;

    background-color: #f0e3db;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 10px auto;
    margin-bottom: 50px;

    padding: 10px 15px;

    text-align: center;
}

.introductory_title {
    width: 100%;

    margin-bottom: 30px;
    margin-top: 10px;

    padding-bottom: 15px;

    font-size: 30px;
    border-bottom: 2px solid rgba(156, 156, 156, 0.6);
}

.introductory_information {
    width: 50%;   
    
    font-size: 20px;
    /*line-height: 250%;*/

    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.introductory_information li {
    margin: 20px auto;
}

.introductory_information ul {
    list-style-type: none;
}

.introductory_image {
    width: 50%;
    padding: 10px;
}

.introductory_image img{
    width: 100%;
    height: auto;
}

/*Attention*/

.attention {
    width: 70%;

    display: flex;
    justify-content: space-around;

    padding: 20px 40px;
    padding-left: 0;

    margin: 35px auto;

    background-color: rgba(0, 230, 255, 0.4);
}

.attention_image {
    width: 20%;

    display: flex;
    justify-content: center;
    align-content: center;
}

.attention_image img {
    width: 40%;
    height: auto;

    display: block;
}

.attention_info {
    width: 80%;

    font-size: 16px;
    font-style: italic;

    color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-content: center;
    justify-content: center;
}


@media (max-width: 1024px) {
    
}

@media (max-width: 900px) and (min-width: 768px) {
     .attention_image img {
         width: 50%;
     }

     .introductory_information {  
        font-size: 18px;
        /*line-height: 220%;*/
     }

     .introductory_information li {
        margin: 16px auto;
    }

     .attention {
         width: 75%;
     }
}

@media (max-width: 768px) {
    .attention_image img {
        width: 60%;
    }

    .introductory_information {  
       font-size: 16px;
       /*line-height: 200%;*/
    }

    .introductory_information li {
        margin: 16px auto;
    }

    .introductory_image {
        padding: 5px;
    }

    .main_paragraph {
        font-size: 18px;
    }
   
    .main_image {
        width: 60%;

        font-size: 16px;
    }

    .attention {
        width: 75%;
    }
}


@media (max-width: 645px) and (min-width: 600px) {
    .attention_image img {
        width: 65%;
    }

    .introductory_information {  
       font-size: 14px;
    }
    
    .introductory_information li {
        margin: 14px auto;
    }

    .introductory_image {
        padding: 2px;
    }

    .main_paragraph {
        font-size: 17px;
    }
   
    .main_image {
        width: 65%;

        font-size: 14px;
    }

    .introductory_title {
        font-size: 27px;
    }

    .attention {
        width: 80%;
    }

    .attention_info {
        width: 80%;
    
        font-size: 14px;
        letter-spacing: .5px;
    }
}


@media (max-width: 600px) {
    .introductory_information {  
       font-size: 16px;

       width: 100%;

       margin-bottom: 20px;
    }

    .introductory_information li {
        margin: 14px auto;
    }

    .introductory_image img{
        width: 80%;
        height: auto;
    }

    .introductory_image {
        padding: 0px;

        width: 100%;

        margin-bottom: 10px;
    }

    .main_paragraph {
        font-size: 16px;
    }

    .main_title {
        font-size: 26px;
    }
   
    .main_image {
        width: 65%;

        font-size: 12px;
    }

    .introductory_title {
        font-size: 25px;

        margin-bottom: 15px;
        margin-top: 5px;

        padding-bottom: 5px;

        border-bottom: 1px solid rgba(156, 156, 156, 0.6);
    }

    .attention {
        width: 80%;

        justify-content: space-between;

        padding: 15px 10px;
    }

    .attention_info {
        width: 80%;
    
        font-size: 13px;

        margin-left: 10px;
        letter-spacing: .5px;
   }  
}


@media (max-width: 480px) {
    .introductory_card {
        width: 98%;

        padding: 5px 5px;
    }

    .introductory_information {  
        font-size: 15px;
        margin-left: -5px;
     }

     .main_paragraph {
         font-size: 15px;
     }
 
     .main_title {
         font-size: 22px;

         margin-bottom: 10px;
     }
    
     .main_image {
         width: 70%;
 
         font-size: 10px;
     }
 
     .introductory_title {
         font-size: 22px;
 
         margin-bottom: 10px;
         margin-top: 0px;
 
         padding-bottom: 2px;
     }
 
     .attention {
         padding: 10px 8px;

         margin: 20px auto;
     }
 
     .attention_info {
         width: 80%;
     
         font-size: 11px;
    } 
}


@media (max-width: 380px) and (min-width: 320px) {
    .introductory_card {
        padding: 0;
    }

    .introductory_information {  
        font-size: 14px;
     }

     .introductory_information li {
        margin: 12px auto;
    }

     .main_paragraph {
         font-size: 14px;
     }
 
     .main_title {
         font-size: 21px;
     }
    
     .main_image {
         width: 80%;
     }
 
     .introductory_title {
         font-size: 18px;
 
         margin-top: 2px;
     }
 
     .attention_info {
         font-size: 10px;
    } 
}


@media (max-width: 320px) {
    .introductory_card {
        padding: 0;
    }

    .introductory_information {  
        font-size: 10px;
     }

     .introductory_information li {
        margin: 10px auto;
    }

     .main_paragraph {
         font-size: 12px;
     }
 
     .main_title {
         font-size: 18px;
     }
    
     .main_image {
         width: 80%;
     }
 
     .introductory_title {
         font-size: 16px;
 
         margin-top: 1px;
     }

     .attention {
         width: 90%;
     }
 
     .attention_info {
         font-size: 10px;
    } 

    .attention_image {
        display: none;
    }
}

.additional_information .introductory_information {
    width: 100%;
}

.additional_information .introductory_image {
    display: none;
}