/*Main information*/
.main_information {
    width: 90%;
    height: 1200px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: inherit;

    text-align: center;

    margin: 60px auto;
}

.main_information p {
    font-size: 26px;
    color: lightslategray;
}

@media (max-width: 768px) {
    .main_information {
        height: 800px;
    }
    
    .main_information p {
        font-size: 22px;
    }
}

@media (max-width: 645px) and (min-width: 600px) {
    .main_information {
        height: 700px;
    }
    
    .main_information p {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .main_information {
        height: 700px;
    }
    
    .main_information p {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .main_information {
        height: 500px;
    }
    
    .main_information p {
        font-size: 16px;
    }
}

@media (max-width: 380px) and (min-width: 320px) {
    .main_information {
        height: 400px;
    }
    
    .main_information p {
        font-size: 14px;
    }
}

@media (max-width: 320px) {
    .main_information {
        height: 400px;
    }
    
    .main_information p {
        font-size: 12px;
    }
}
