html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
display: block;
}

body {
line-height: 1.2;
background-color: #F8F8FF;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

ol {
padding-left: 1.4em;
list-style: decimal;
}

ul {
padding-left: 1.4em;
list-style: square;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

* {
box-sizing: border-box;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/*Header*/

header {
    margin-bottom: 50px;
}

/*Navigation*/

.navigation {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: white;

    background-color: #41fe00;

    padding: 15px;

    display: flex;
    justify-content: space-between;
}

.navigation h1 {
    font-weight: 800;
    font-size: 18px;
}

.header_item{
   text-decoration: none;
   color: inherit;

   font-size: 14px;
   font-weight: 500;

   padding: 0 25px;

   position: relative;

}

.item_images {
    width: 18px;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

/* Font header*/

.header_font {
    width: 98%;
    margin: 0 auto;
}

.header_image {
    width: 100%;
    height: auto;
}

.header_text {
    color: white;
    font-style: italic;

    position: relative;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font_content {
    position: absolute;
    left:50px;
    bottom:80px;

    width: 40%;

    text-align: left;

    font-size: 18px;
}

.font_autor {
    position: absolute;
    left:350px;
    bottom:50px;

    font-size: 14px;
}

/*Main information*/

.main_info {
    margin: 0 auto;
    margin-bottom: 50px;

    padding: 20px 25px;
    
    max-width: 1200px;
    width: 60%;

    background-color: white;
    box-shadow: 0 0 3px 1px black;

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main_image {
    width: 50%;
    height: auto;
    
    opacity: .3;
}


.main_title {
    text-transform: uppercase;
    
    font-size: 40px;

    color: 	#87CEFA;
}

.main_content {
    text-align: left;

    font-size: 20px;
}

.main_info a {
    text-decoration: none;
    font-style: italic;

    color: #87CEFA;
}

/*Menu button*/

.menu_button {
    width: 100%;
    height: 400px;

    margin: 100px auto;

    background-image: url(/images/world_map.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: inline-block;
    
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;

    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;

    color: white;

    background-color: #41fe00;
    box-shadow: 0 0 20px 1px black;

    margin: 0 auto;
    
    padding: 20px;
}

/*Footer*/

footer {
    width: 100%;
    height: 200px;

    margin: 0 auto;

    padding: 4px;

    text-align: center;

    background-image: url(/images/vegetation_footer.png);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.copyright {
   color: white;
   
   font-size: 13px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .main_info {
        max-width: 1024px;
    }
}

@media (max-width: 768px) {

    /* Header */
     .navigation {
         position: fixed;
         width: 100%;

         z-index: 1;
     }

     .container {
        max-width: 768px;
    }

    .font_content {
        font-size: 14px;
        
        left:30px;
        bottom:50px;
    }

    .font_autor {
        left:320px;
        bottom:25px;

        font-size: 12px;
    }

    .header_item {
        font-size: 12px;
    }

    .item_images {
        top: -2px;
    }

    .navigation h1 {
        font-size: 15px;
    }
    
    /*Main information*/

    .main_info {
        max-width: 768px;
        width: 80%;
    }

    .main_title {
        font-size: 30px;
    }

    .main_content {
        font-size: 17px;
    }

    /*Buttom menu*/
    
    .button {
        font-size: 17px;
    }

    /*Footer*/

    footer {
        background-position: bottom;
    }
    
}

@media (max-width: 645px) and (min-width: 600px) {
    /*Footer*/
    footer {
        background-repeat: no-repeat;
    }
}

@media (max-width: 600px) {

    /*Header*/
   
   .container {
       max-width: 600px;
   }

   .font_content {
      font-size: 12px;
    
      left:30px;
      bottom:40px;
   }

   .font_autor {
      left:220px;
      bottom:25px;

      font-size: 10px;
   }

   .header_item {
       font-size: 9px;
   }

   .item_images {
      width: 16px;
      height: auto;

      top: -2px;
      left: 5px;
   } 

   .navigation {
       padding: 10px;
   }

   .navigation h1 {
      font-size: 14px;

      margin-right: 25px;
   }

   /*Menu information*/

   .main_info {
       max-width: 600px;
       width: 90%;
   }

   .main_title {
       font-size: 23px;
   }

   .main_content {
       font-size: 14px;
   }

   /*Button menu*/

   .button {
       font-size: 12px;
   }

   .menu_button {
       margin-bottom: 0;
   }

   /*Footer*/

   footer {
       background-repeat: no-repeat;
   }

   .copyright {
       font-size: 10px;
   }

}

@media (max-width: 480px) {
 
    /*Header*/

    .container {
       max-width: 480px;
   }

      
   .font_content {
      font-size: 10px;
  
      left:30px;
      bottom:40px;
   }

   .font_autor {
      left:220px;
      bottom:25px;

      font-size: 9px;
  }

   .header_item {
       font-size: 7px;
   }

   .item_images {
       width: 12px;
       height: auto;

       left: 8px;
   }

   .navigation h1 {
       font-size: 10px;
   }

   .navigation {
       padding: 5px;
       align-items: center;
   }

   header {
       margin-bottom: 20px;
   }

   /*Main information*/

   .main_info {
       max-width: 480px;

       margin: 25px auto;
   }

   .main_title {
       font-size: 18px;

       margin-bottom: 10px;
   }

   .main_content {
       font-size: 12px;
   }

   .main_image {
       display: none;
   }
 
      /*Menu button*/
   
   .menu_button {
       margin: 0 auto;
       margin-top: 50px;
       height: 200px;
   }

   .button {
      font-size: 8px;
      padding: 12px;
   }
   
   
   /*Footer*/

   .copyright {
      font-size: 8px;
   }

   footer {
      height: 150px;
   }


}

@media (max-width: 380px) and (min-width: 320px) {
    /*Header*/

    .font_content {
        width: 60%;

        font-size: 9px;
      
        left:20px;
        bottom:30px;
     }
    
     .font_autor {
        left:210px;
        bottom:15px;
    
        font-size: 7px;
     }

     /*Main information*/

     .main_title {
        font-size: 17px;
 
        margin-bottom: 8px;
    }
 
    .main_content {
        font-size: 10px;
    }
}

@media (max-width: 320px) {
   
    .container {
       max-width: 320px;
   }

   .font_autor {
       display: none;
   }

   .font_content {
       display: none;
   }

    .main_info {
       max-width: 320px;
       width: 95%;
   }

    .main_title {
       font-size: 16px;
       margin-bottom: 10px;
   }

   .main_content {
      font-size: 9px;
   }


   footer {
      height: 100px;
      padding: 2px;
   } 

   .copyright {
      font-size: 6px;
   } 

   .header_item {
      font-size: 7px;
      padding-left: 18px;
   }

   .item_images {
      width: 14px;
      height: auto;

      top: -3px;
      left: 0;
   }

   .navigation h1 {
      font-size: 10px;
   }

   .navigation {
      padding: 5px;
   }

}





























